<mat-toolbar color="primary">
    <span (click)="navigateHome()" style="cursor: pointer">OnoAir</span>
    <span class="spacer"></span>

    <div class="nav-links">
      <!-- Management Section -->
      <div class="menu-section">
        <span class="menu-label">Management</span>
        <button mat-button routerLink="/manage-destinations">Manage Destinations</button>
        <!-- <button mat-button (click)="navigateManageDestinations()">Manage Destinations</button> -->
        <button mat-button routerLink="/manage-flights">Manage Flights</button>
      </div>

      <!-- User Actions Section -->
      <div class="menu-section">
        <span class="menu-label">User Actions</span>
        <button mat-button routerLink="/search-flights">Search Flights</button>
        <button mat-button routerLink="/my-bookings">My Bookings</button>
      </div>
    </div>
  </mat-toolbar>
