.home-container {
    padding: 20px;
  }
  
  .flights-card {
    margin-bottom: 20px;
  }
  
  mat-table {
    width: 100%;
  }
  
  h2 {
    margin-bottom: 20px;
    color: #333;
  }
  
  .last-minute-section, .all-flights-section {
    margin-bottom: 40px;
  }
  
  mat-header-cell, mat-cell {
    padding: 8px;
  }